<p><%= link_to 'Back', products_path %></p>

<section>
  <h1>Import Products</h1>
  <%= form_for @product, url: import_products_path, html: {multipart: true} do |f| %>
    <%= f.file_field :file %>
    <%= f.submit :import %>
  <% end %>
</section>

<section>
  <h1>New product</h1>
  <%= render 'form' %>
</section>
